@{
    ViewBag.Title = "IPSNet";
    Layout = "~/Views/Shared/_LayoutIni.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 animated fadeInDown ml-auto">
            <div class="card shadow rounded">
                <div class="card-body">
                    <h1 class="card-title text-center login-title col-ico">
                        <i class="fas fa-money-check-alt col-ico rotate-n-15"></i> IPSNet
                    </h1>
                    <hr />
                    <h6 class="text-center mt-4 font-weight-bold text-danger animated fadeInDown delay-1s">¡ En necesario cambiar tu contraseña default para tu primer inicio !</h6>
                    <div class="p-4">
                        <div class="form-group row">
                            <div class="input-group mb-3 col-md-10 offset-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="basic-addon1"><i class="fas fa-user col-ico"></i></span>
                                </div>
                                <input autofocus type="text" class="form-control text-uppercase" id="username1" value="OMEJIA" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="input-group mb-3 col-md-10 offset-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="basic-addon1"><i class="fas fa-key col-ico"></i> </span>
                                </div>
                                <input type="password" class="form-control pass" id="password1" placeholder="Ingrese la contraseña" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="input-group mb-3 col-md-10 offset-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="basic-addon1"><i class="fas fa-key col-ico"></i> </span>
                                </div>
                                <input type="password" class="form-control pass" id="password2" placeholder="Vuelve a escribir la nueva contraseña" />
                            </div>
                        </div>
                        <div id="validatediv" class="col-md-12"></div>
                        <div class="form-group text-center mt-3 mb-0 row">
                            <div class="col-md-10 offset-1">
                                <button type="button" class="btn col-btn-login btn-block font-button" id="btnlogin">
                                    <span class="text">Validar e ingresar <i class="fas fa-sign-in-alt ml-ico-05"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group row mt-5 d-none" id="msjmaysact">
                            <div class="col-md-12 text-center">
                                <span class="badge badge-light p-2 col-ico rounded animated fadeIn btn-block font-weight-bold">
                                    La tecla mayusculas esta activada
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 animated fadeInRight mr-auto">
            <div class="card shadow rounded">
                <div class="card-body">
                    <div class="alert alert-light" role="alert">
                        <h4 class="alert-heading font-weight-bold">Lineamientos de contraseñas</h4>
                        <br />
                        <div class="font-button small text-justify text-danger">
                            1. Deberán contener al menos 10 caracteres, de los cuales por lo menos 2 sean letras mayúsculas y 2 sean numéricos.
                        </div>
                        <hr>
                        <div class="font-button small text-justify text-danger">
                            2. El número máximo de repeticiones de caracteres adyacentes en las contraseñas debe de ser de 3.
                        </div>
                        <hr>
                        <div class="font-button small text-justify text-danger">
                            3. Las contraseñas no deben contener el nombre, apellido del usuario o su fecha de nacimiento.
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/main/ChangePasswordIPS.js"></script>