<div class="container col-md-10 shadow-lg p-3 mb-5 bg-white rounded font-labels shadow-lg border-left-primary border-right-primary">
    <label class="h5 col-md-12 text-dark font-weight-bold"><i class="fas fa-users"></i> Catálogo de empleados</label>
    <div class="dropdown-divider col-md-12"></div>
    <div class="col-md-12 row">
        <div class="col-md-9 mx-auto">
            <div class="col-md-12 mb-3 text-right">
                <div class="btn btn-sm btn-info btn-icon-split" data-toggle="modal" data-target="#modalBusquedaEmpleado">
                    <span class="icon"><i class="fas fa-search"></i></span>
                    <span class="text">Buscar empleado</span>
                </div>
            </div>
            <nav class="col-md-12">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <div class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" data-target="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true"><i class="fas fa-book"></i> Datos Generales</div>
                    <div class="nav-item nav-link tabs" id="nav-imss-tab" data-toggle="tab" data-target="#nav-imss" role="tab" aria-controls="nav-imss" aria-selected="false"><i class="fas fa-calendar-plus"></i> IMSS</div>
                    <div class="nav-item nav-link tabs" id="nav-nomina-tab" data-toggle="tab" data-target="#nav-nomina" role="tab" aria-controls="nav-nomina" aria-selected="false"><i class="fas fa-dollar-sign"></i> Nómina</div>
                    <div class="nav-item nav-link tabs" id="nav-estructura-tab" data-toggle="tab" data-target="#nav-estructura" role="tab" aria-controls="nav-estructura" aria-selected="false"><i class="fas fa-project-diagram"></i> Estructura</div>
                </div>
            </nav>
            <div class="tab-content col-md-12" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                    <div class="col-md-12 row font-labels pt-3" id="collapseEmp">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Empleado Id</label>
                            <input type="text" readonly value="" class="lbl-1  form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Nombre(s)</label>
                            <input type="text" readonly value="" class="lbl-2 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Apellido Paterno</label>
                            <input type="text" readonly value="" class="lbl-3 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Apellido Materno</label>
                            <input type="text" readonly value="" class="lbl-4 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Nacimiento</label>
                            <input type="text" readonly value="" class="lbl-5 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Lugar Nacimiento</label>
                            <input type="text" readonly value="" class="lbl-6 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Titulo</label>
                            <input type="text" readonly value="" class="lbl-7 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Genero</label>
                            <input type="text" readonly value="" class="lbl-8 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Nacionalidad</label>
                            <input type="text" readonly value="" class="lbl-9 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Estado Civil</label>
                            <input type="text" readonly value="" class="lbl-10 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Codigo Postal</label>
                            <input type="text" readonly value="" class="lbl-11 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Estado</label>
                            <input type="text" readonly value="" class="lbl-12 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Ciudad</label>
                            <input type="text" readonly value="" class="lbl-13 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Colonia</label>
                            <input type="text" readonly value="" class="lbl-14 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Calle</label>
                            <input type="text" readonly value="" class="lbl-15 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">No. Calle</label>
                            <input type="text" readonly value="" class="lbl-16 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Telefono Fijo</label>
                            <input type="text" readonly value="" class="lbl-17 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tellefono Movil</label>
                            <input type="text" readonly value="" class="lbl-18 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Correo Electrónico</label>
                            <input type="text" readonly value="" class="lbl-19 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Matrimonio</label>
                            <input type="text" readonly value="" class="lbl-20 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Sangre</label>
                            <input type="text" readonly value="" class="lbl-21 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Alta</label>
                            <input type="text" readonly value="" class="lbl-22 form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-imss" role="tabpanel" aria-labelledby="nav-imss-tab">
                    <div class="col-md-12 row font-labels">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Efectiva</label>
                            <input type="text" readonly value="" class="lbl-23  form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Registro IMSS</label>
                            <input type="text" readonly value="" class="lbl-24 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">RFC</label>
                            <input type="text" readonly value="" class="lbl-25 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">CURP</label>
                            <input type="text" readonly value="" class="lbl-26 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Nivel Estudios</label>
                            <input type="text" readonly value="" class="lbl-27 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Nivel Socioeconomico</label>
                            <input type="text" readonly value="" class="lbl-28 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Alta</label>
                            <input type="text" readonly value="" class="lbl-29 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Último SDI <small class="text-black-50">(Salario Diario Integrado)</small></label>
                            <input type="text" readonly value="" class="lbl-47 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha de baja</label>
                            <input type="text" readonly value="" class="lbl-56 form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-nomina" role="tabpanel" aria-labelledby="nav-nomina-tab">
                    <div class="col-md-12 row font-labels">

                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Efectiva</label>
                            <input type="text" readonly value="" class="lbl-31 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Periodo</label>
                            <input type="text" readonly value="" class="lbl-32 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Salario Mensual</label>
                            <input type="text" readonly value="" class="lbl-33 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Empleado</label>
                            <input type="text" readonly value="" class="lbl-34 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Nivel Empleado</label>
                            <input type="text" readonly value="" class="lbl-35 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Jornada</label>
                            <input type="text" readonly value="" class="lbl-36 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Contrato</label>
                            <input type="text" readonly value="" class="lbl-37 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Contratación</label>
                            <input type="text" readonly value="" class="lbl-38 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Motivo Incremento</label>
                            <input type="text" readonly value="" class="lbl-39 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Ingreso</label>
                            <input type="text" readonly value="" class="lbl-40 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Antiguedad</label>
                            <input type="text" readonly value="" class="lbl-41 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Vencimiento Contrato</label>
                            <input type="text" readonly value="" class="lbl-42 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Tipo Pago</label>
                            <input type="text" readonly value="" class="lbl-43 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Banco</label>
                            <input type="text" readonly value="" class="lbl-44 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Cuenta Cheques</label>
                            <input type="text" readonly value="" class="lbl-45 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Fecha Alta</label>
                            <input type="text" readonly value="" class="lbl-46 form-control form-control-sm" />
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="nav-estructura" role="tabpanel" aria-labelledby="nav-estructura-tab">
                    <div class="col-md-12 row font-labels">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold"> Código Posición</label>
                            <input type="text" readonly value="" class="lbl-48  form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Nombre Localidad</label>
                            <input type="text" readonly value="" class="lbl-49 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Código Departamento</label>
                            <input type="text" readonly value="" class="lbl-50 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Registro Patronal</label>
                            <input type="text" readonly value="" class="lbl-51 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Puesto</label>
                            <input type="text" readonly value="" class="lbl-52 form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold">Posición reporta a</label>
                            <input type="text" readonly value="" class="lbl-53 form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Mostrar Busqueda de empleados -->
<div class="modal fade" id="modalBusquedaEmpleado" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark font-weight-bold" id="staticBackdropLabel"> <i class="fas fa-search"></i> Buscar empleado <span id="politicas-modal-title" class="politicas-modal-title"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center font-small p-5" id="">
                <form class="col-md-12 row d-flex justify-content-center mx-auto p-3 shadow-lg rounded border-left-primary" id="frmEmpleados">
                    <div class="form-group col-md-12">
                        <label class="font-weight-bold" for="formGroupExampleInput">Buscar por</label>
                        <input type="text" autocomplete="off" class="form-control form-control-lg border-left-info" id="inSearch" placeholder="Ingrese el nombre o numero de nómina">
                    </div>
                    <div class="form-group col-md-12" id="result"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm btn-icon-split" data-dismiss="modal">
                    <span class="icon"><i class="fas fa-times"></i></span>
                    <span class="text"> Cerrar </span>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Catalogos/Consulta.js"></script>