<div class="container font-labels">
    <div class="row">
        <div class="col-2">
            <div class="nav pills-catalogos flex-column nav-pills" id="pills-catalogos" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-lista-tab" data-toggle="pill" href="#v-pills-lista" role="tab" aria-controls="v-pills-home" aria-selected="true">Lista de catalogos</a>
                <a class="nav-link" id="v-pills-FechasPeriodos-tab" data-toggle="pill" href="#v-pills-FechasPeriodos" role="tab" aria-controls="v-pills-profile" aria-selected="false">Fechas - Periodos</a>
                <a class="nav-link" id="v-pills-politicas-tab" data-toggle="pill" href="#v-pills-politicas" role="tab" aria-controls="v-pills-messages" aria-selected="false">Politicas de vacaciones</a>
                <a class="nav-link" id="v-pills-puestos-tab" data-toggle="pill" href="#v-pills-puestos" role="tab" aria-controls="v-pills-puestos" aria-selected="false">Puestos</a>
                <a class="nav-link" id="v-pills-centros-costos-tab" data-toggle="pill" href="#v-pills-centros-costos" role="tab" aria-controls="v-pills-puestos" aria-selected="false">Centros de Costos</a>
                <a class="nav-link" id="v-pills-localidades-tab" data-toggle="pill" href="#v-pills-localidades" role="tab" aria-controls="v-pills-puestos" aria-selected="false">Localidades</a>
                <a class="nav-link" id="v-pills-registros-patronales-tab" data-toggle="pill" href="#v-pills-registros-patronales" role="tab" aria-controls="v-pills-puestos" aria-selected="false">Registros Patronales</a>
                <a class="nav-link" id="v-pills-regionales-tab" data-toggle="pill" href="#v-pills-regionales" role="tab" aria-controls="v-pills-puestos" aria-selected="false">Regionales</a>
                <a class="nav-link" id="v-pills-sucursales-tab" data-toggle="pill" href="#v-pills-sucursales" role="tab" aria-controls="v-pills-puestos" aria-selected="false">Sucursales</a>
                <a class="nav-link" id="v-pills-editar-tab" data-toggle="pill" href="#v-pills-editar" role="tab" aria-controls="v-pills-settings" aria-selected="false" aria-disabled="false">Modulo de Edicion</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                @* TAB 1 LISTA DE CATALOGOS*@
                <div class="tab-pane fade show active" id="v-pills-lista" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="font-button">Lista de catalogos</div>
                    <hr />
                    <div class="container col-md-12 row d-flex justify-content-around">

                        <div id="fechas-periodo" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white text-center rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Fechas - Periodos</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Vista de las fechas correspondientes a cada periodo.</div>
                        </div>

                        <div id="politicas-vacaciones" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Políticas de vacaciones</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Definición de días para vacaciones otorgados por cada año de trabajo.</div>
                        </div>

                        <div id="puestos" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Puestos</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Administración de los puestos</div>
                        </div>

                        <div id="centros-costos" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Centros de Costos</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Administración de los Centros de Costos</div>
                        </div>

                        <div id="localidades" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Localidades</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Administración de las Localidades</div>
                        </div>

                        <div id="registros-patronales" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Registros Patronales</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Administración de los Registros Patronales</div>
                        </div>

                        <div id="regionales" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Regionales</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Administración de las Regionales</div>
                        </div>

                        <div id="sucursales" class=" btntab shadow-lg bg-white  btn mb-5 mx-2 col-md-3" style="max-width: 18rem;">
                            <div class="btntittle col-md-12 bg-primary text-white rounded p-3 mt-2 font-labels"><i class="far fa-list-alt fa-lg"></i> Sucursales</div>
                            <br />
                            <div class="container text-black-50 pb-5 text-justify font-labels"> Administración de los Sucursales</div>
                        </div>
                    </div>
                </div>
                @* TAB 2 LISTA DE EMPRESAS CONS SUS RESPECTIVOS FECHAS PERIODOS*@
                <div class="tab-pane fade" id="v-pills-FechasPeriodos" role="tabpanel" aria-labelledby="v-pills-FechasPeriodos-tab">
                    <div class="">Fechas - Periodos</div>
                    <hr />
                    <table class="table table-sm table-striped table-fechas-periodos">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-fechas-periodos">
                            <tr>
                                <td colspan="3">
                                    <div class="col-md-12">
                                        <label>4 REJUM - 2020 - Quincenal</label>&nbsp;&nbsp;&nbsp;<div class="badge badge-success btn" onclick="LoadDetalleFechasPeriodo('collapse-REJUM', 4);"><i class="fas fa-plus"></i></div>
                                        <div class="collapse collapse-REJUM col-md-12" id="collapse-REJUM">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @* TAB 3 LISTA DE EMPRESAS CON SUS RESPECTIVOS POLITICAS DE VACACIONES*@
                <div class="tab-pane fade" id="v-pills-politicas" role="tabpanel" aria-labelledby="v-pills-politicas-tab">
                    <ul class="nav nav-tabs" id="tabpoliticasv" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-danger active" id="vigentes-tab" data-toggle="tab" href="#vigentes" role="tab" aria-controls="vigentes" aria-selected="true">Politicas Vigentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-danger" id="fururas-tab" data-toggle="tab" href="#futuras" role="tab" aria-controls="futuras" aria-selected="false">Politicas Programadas</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        @* TAB DE POLITICAS VIGENTES*@
                        <div class="tab-pane fade show active" id="vigentes" role="tabpanel" aria-labelledby="vigentes-tab">
                            <div class="col-md-12 row my-3"><label class="col-md-6 font-labels">Politicas de vacaciones</label><div class="col-md-6 text-right"><div class="btn btn-info font-labels" id="btn-newEffdtPoliticas">Agregar Nueva Fecha Efectiva</div></div> </div>

                            <table class="table table-sm table-striped table-politicas-vacaciones col-md-12">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="3">Lista de Empresas</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="bodytab-politicas-vacaciones">
                                </tbody>
                            </table>
                        </div>
                        @* TAB DE POLITICAS PROGRAMADAS*@
                        <div class="tab-pane fade" id="futuras" role="tabpanel" aria-labelledby="futuras-tab">
                            @*<div class="col-md-12 row mt-3"><label class="col-md-6 font-labels">Politicas de vacaciones</label><div class="col-md-6 text-right"><div class="btn btn-info font-labels" id="btn-newEffdtPoliticas">Agregar Nueva Fecha Efectiva</div></div> </div>*@

                            <table class="table table-sm table-striped table-politicas-vacaciones-futuras col-md-12 mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="3">Lista de Empresas por empresa y por fecha efectiva</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="bodytab-politicas-vacaciones-futuras">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @* TAB 4 LISTA DE PUESTOS*@
                <div class="tab-pane fade" id="v-pills-puestos" role="tabpanel" aria-labelledby="v-pills-puestos-tab">
                    <div class="">Puestos</div>
                    <hr />
                    <table class="table table-sm table-striped table-puestos">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-puestos">
                            
                        </tbody>
                    </table>
                </div>
                @* TAB 5 LISTA DE CENTROS DE COSTOS*@
                <div class="tab-pane fade" id="v-pills-centros-costos" role="tabpanel" aria-labelledby="v-pills-centros-costos-tab">
                    <div class="">Centros de Costos</div>
                    <hr />
                    <table class="table table-sm table-striped table-centros-costos">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-centros-costos">
                            
                        </tbody>
                    </table>
                </div>
                @* TAB 5 LISTA DE LOCALIDADES*@
                <div class="tab-pane fade" id="v-pills-localidades" role="tabpanel" aria-labelledby="v-pills-localidades-tab">
                    <div class="">Localidades</div>
                    <hr />
                    <table class="table table-sm table-striped table-localidades">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-localidades">
                            
                        </tbody>
                    </table>
                </div>
                @* TAB 4 LISTA DE REGISTROS PATRONALES*@
                <div class="tab-pane fade" id="v-pills-registros-patronales" role="tabpanel" aria-labelledby="v-pills-registros-patronales-tab">
                    <div class="">Registros Patronales</div>
                    <hr />
                    <table class="table table-sm table-striped table-registros-patronales">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-registros-patronales">

                        </tbody>
                    </table>
                </div>
                @* TAB 4 LISTA DE REGIONALES*@
                <div class="tab-pane fade" id="v-pills-regionales" role="tabpanel" aria-labelledby="v-pills-regionales-tab">
                    <div class="">Regionales</div>
                    <hr />
                    <table class="table table-sm table-striped table-regionales">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-regionales">
                            
                        </tbody>
                    </table>
                </div>
                @* TAB 4 LISTA DE SUCURSALES*@
                <div class="tab-pane fade" id="v-pills-sucursales" role="tabpanel" aria-labelledby="v-pills-sucursales-tab">
                    <div class="">Sucursales</div>
                    <hr />
                    <table class="table table-sm table-striped table-sucursales">
                        <thead>
                            <tr>
                                <th colspan="3" scope="col">Lista de empresas</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bodytab-sucursales">
                            
                        </tbody>
                    </table>
                </div>
                @* TAB 5 TAB DE MODIFICACIONES *@
                <div class="tab-pane fade" id="v-pills-editar" role="tabpanel" aria-labelledby="v-pills-editar-tab">
                    <div class="row col-md-12"><label id="lblEdicion" class="col-md-3 font-weight-bold"></label><input id="Effdt_editar" type='text' class=' form-control form-control-sm col-md-3' value='' disabled><div id="bodybotonagregar" class="col-md-6 text-right"></div></div>
                    <hr />
                    <div id="bodyEditarModulo" class="col-md-12">

                    </div>
                    <input type="hidden" id="Empresa_id_editar" value="" />
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Agregar Fechas - Periodos-->
    <div class="modal fade" id="modalAgregarFechaPeriodo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Agregar <span class="text-danger h5">Fecha - Periodo</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmAddFechasPeriodos" method="post" class="row">

                        <div class="form-group col-md-4">
                            <label>Año</label>
                            <input class="form-control form-control-sm" type="number" id="inano" name="inano" min="" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Periodo</label>
                            <input class="form-control form-control-sm" type="text" name="inperiodo" id="inperiodo" value="" placeholder="No. Periodo" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Inicio</label>
                            <input class="form-control form-control-sm" type="date" name="infinicio" id="infinicio" value="" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Final</label>
                            <input class="form-control form-control-sm" type="date" name="inffinal" id="inffinal" value="" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Proceso</label>
                            <input class="form-control form-control-sm" type="date" name="infproceso" id="infproceso" value="" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Pago</label>
                            <input class="form-control form-control-sm" type="date" name="infpago" id="infpago" value="" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Dias Pago</label>
                            <input class="form-control form-control-sm" type="text" name="indiaspago" id="indiaspago" value="15" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="btnsavefechaperiodo" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Agregar EFFDT Politicas -->
    <div class="modal fade" id="modalAgregarNewEffdtPoliticas" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"> Agregar Nueva Fecha Efectiva <span id="politicas-modal-title" class="politicas-modal-title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center font-small d-flex justify-content-center" id="modal-body-neweffdtpoliticas">
                    <form id="frmnewEffdt">
                        <div class="col-md-12 row">
                            <div class="form-group col-md-4">
                                <label>Empresa <i class="text-primary fas fa-building"></i></label>
                                <select class="custom-select custom-select-sm" id="newEffdtEmpresa">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Fecha Efectiva <i class="text-primary far fa-calendar-plus"></i></label>
                                <input class="form-control form-control-sm" type="date" name="newEffdtFecha" id="newEffdtFecha" mim="" required />
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="btnneweffdtpoliticas" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Mostrar Politicas -->
    <div class="modal fade" id="modalMostrarPoliticas" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"> Politicas de vacaciones <span id="politicas-modal-title" class="politicas-modal-title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center font-small d-flex justify-content-center" id="modal-body-politicas">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Agregar Politica -->
    <div class="modal fade" id="modalNewPolitica" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"> Politicas de vacaciones <span id="politica-modal-title" class="politica-modal-title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center font-small d-flex justify-content-center" id="">
                    <form id="frmnewPolitica"></form>
                    <div class="col-md-12 row">
                        <div class="col-md-4">
                            <label>Año</label>
                            <input class="input-number form-control form-control-sm" type="text" name="" id="newPoliticaAnio" value="" placeholder="Agregar año" />
                        </div>
                        <div class="col-md-4">
                            <label>Dias</label>
                            <input class="input-number form-control form-control-sm" type="text" name="" id="newPoliticaDias" value="" placeholder="Agregar dias" />
                        </div>
                        <div class="col-md-4">
                            <label>Prima vacacional</label>
                            <input class="input-number form-control form-control-sm" type="text" name="" id="newPoliticaPrimav" value="25" placeholder="Porcentaje de prima" />
                        </div>
                        <div class="col-md-4">
                            <label>Dias aguinaldo</label>
                            <input class="input-number form-control form-control-sm" type="text" name="" id="newPoliticaDiasa" value="15" placeholder="Dias de aguinaldo" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="btnsavenewpolitica" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/main/ModuloCatalogos.js?n=1"></script>