<div class="container bg-white pb-3 rounded font-labels">
  <div class="d-flex justify-content-between">
    <div class="h5 px-5 py-3 h5 text-dark font-weight-bold">Datos generales de la empresa</div>

    <div class="collapsed" data-toggle="collapse" data-target="#collapseAddEmpresa" aria-expanded="false" aria-controls="collapseAddEmpresa">
      <div class="d-flex justify-content-end ">
        <div class="btn btn-link pr-1 btnadd font-labels" id="btnadd" href="#inNombre_Empresa">
          Agregar empresa <i class='text-success fas fa-plus-circle'></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 p-3 m-0 form-group font-labels row rounded" style="background-color:#E8EAF6;color:black;">
    <small class="col-md-12 row">
      <label class="font-weight-bold col-md-2 py-0">Id Empresa : </label>
      <label class="text-left col-md-4 py-0" id="l-01"></label>
      <label class="font-weight-bold col-md-2 py-0">Nombre corto : </label>
      <label class="text-left col-md-4 py-0" id="l-02"></label>
      <label class="font-weight-bold col-md-2">Razón Social : </label>
      <label class="text-left col-md-4" id="l-03"></label>
      <label class="font-weight-bold col-md-2">Codigo Postal : </label>
      <label class="text-left col-md-4" id="l-04"></label>
      <label class="font-weight-bold col-md-2">Estado : </label>
      <label class="text-left col-md-4" id="l-05"></label>
      <label class="font-weight-bold col-md-2">Cuidad : </label>
      <label class="text-left col-md-4" id="l-06"></label>
      <label class="font-weight-bold col-md-2">Delegacion : </label>
      <label class="text-left col-md-4" id="l-07"></label>
      <label class="font-weight-bold col-md-2">Colonia : </label>
      <label class="text-left col-md-4" id="l-08"></label>
      <label class="font-weight-bold col-md-2">Calle : </label>
      <label class="text-left col-md-4" id="l-09"></label>
      <label class="font-weight-bold col-md-2">Giro : </label>
      <label class="text-left col-md-4" id="l-10"></label>
      <label class="font-weight-bold col-md-2">RFC : </label>
      <label class="text-left col-md-4" id="l-11"></label>
      <label class="font-weight-bold col-md-2">Fecha alta : </label>
      <label class="text-left col-md-4" id="l-12"></label>
      <label class="font-weight-bold col-md-2">Regimen Fiscal : </label>
      <label class="text-left col-md-4" id="l-13"></label>
      <label class="font-weight-bold col-md-2">Registro IMSS : </label>
      <label class="text-left col-md-4" id="l-14"></label>
    </small>
    <div class="col-md-6 font-labels d-flex justify-content-end"><div id="btnEditarEmpresa" class="btn btn-outline-success font-weight-bold" style="font-size:12px;">Editar  <i class="pl-1 far fa-edit"></i> </div></div>
  </div>
  <div class="dropdown-divider mb-3"></div>
  <div class="">

  </div>
  <div class="accordion" id="accordionExample">
    <div class=" col-md-12">

      <div id="collapseAddEmpresa" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="col-md-12 h5 text-dark font-weight-bold">
          Agregar datos de la nueva empresa
        </div>
        <div class="dropdown-divider mb-3"></div>
        <form id="form_inEmpresa" class="needs-validation font-labels" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="in_empresa_id">Id Empresa</label>
              <input class="form-control font-labels input-number" type="text" name="in_empresa_id" id="in_empresa_id" placeholder="Escribe la ID de la empresa" required>
              <div class="" id="in_empresa_id_label">

              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inNombre_empresa">Nombre Empresa</label>
              <input class="form-control font-labels" type="text" name="inNombre_empresa" id="inNombre_empresa" placeholder="Escribe la razón social de la empresa" required>

            </div>
            <div class="form-group col-md-6">
              <label for="inNomCorto_empresa">Nombre Corto</label>
              <input type="text" class="form-control font-labels" name="inNomCorto_empresa" id="inNomCorto_empresa" placeholder="Escribe el nombre corto de la empresa" required>

            </div>
            <div class="form-group col-md-6">
              <label for="inRfc_empresa">RFC de la empresa</label>
              <input type="text" class="form-control font-labels" name="inRfc_empresa" id="inRfc_empresa" placeholder="Escribe en RFC de la empresa" maxlength="12" required>

            </div>
            <div class="form-group col-md-6">
              <label for="inGiro_empresa">Giro de la empresa</label>
              <input type="text" class="form-control font-labels" name="inGiro_empresa" id="inGiro_empresa" placeholder="Escribe en giro de la empresa" required>

            </div>
            <div class="form-group col-md-6">
              <label for="inGiro_empresa">Regimen Fiscal</label>
              <select type="text" class="custom-select custom-select-sm" name="inRFiscal_empresa" id="inRFiscal_empresa" required>
              </select>

            </div>
            <div class="form-group col-md-6">
              <label for="inGiro_empresa">Registro IMSS</label>
              <input type="text" class="form-control font-labels" name="inRegistro_imss" id="inRegistro_imss" placeholder="Registro IMMS" required>

            </div>
            <div class="form-group col-md-6">
              <label for="inGrupo_empresa">Grupo Empresas</label>
              <select id="inGrupo_empresa" class="custom-select custom-select-sm" required>
              </select>

            </div>
            <div class="form-group col-md-6 bg-info rounded">

              <label class="col-md-12 text-white"><i class="fas fa-clone fa-sm"></i> Copia la configuración de la empresa:</label>
              <select class="custom-select custom-select-sm" id="inclonar">
                <option value="0">Sin Empresas que clonar</option>
              </select>
            </div>
            <div class="form-group col-md-12 row px-5">
              <div class="form-group col-md-6 alert alert-light ">
                <label class="col-md-12 text-dark">Seleccionar tipo de periodo de pago</label>

                <select class="custom-select custom-select-sm" id="tipoPeriodoin" required></select>


                @*<div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RadioPeriodosFecha" id="inlineR1" value="0" required>
                  <label class="form-check-label" for="inlineR1">1 Semanal</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RadioPeriodosFecha" id="inlineR2" value="2" required>
                  <label class="form-check-label" for="inlineR2">2 Catorcenal</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RadioPeriodosFecha" id="inlineR3" value="3" checked required>
                  <label class="form-check-label" for="inlineR3">3 Quincenal</label>
                </div>*@
                <div class="form-inline justify-content-around px-3">

                  <div class=" col-md-5 text-center p-2">
                    <label class="bg-secondary text-white rounded col-md-12">Fecha Inicio </label>
                    <input type="date" name="finicio" id="finicio" class="form-control col-md-12" required>
                  </div>

                  <div class=" col-md-5 text-center p-2">
                    <label class="bg-secondary text-white rounded col-md-12">Fecha Final </label>
                    <input type="date" name="ffinal" id="ffinal" class="form-control col-md-12" required>
                  </div>

                  <div class=" col-md-5 text-center p-2">
                    <label class="bg-secondary text-white rounded col-md-12">Fecha Pago </label>
                    <input type="date" name="fpago" id="fpago" class="form-control col-md-12" required>
                  </div>

                  <div class=" col-md-5 text-center p-2">
                    <label class="bg-secondary text-white rounded col-md-12">Fecha Proceso </label>
                    <input type="date" name="fproceso" id="fproceso" class="form-control col-md-12" required>
                  </div>

                  <div class=" col-md-5 text-center p-2">
                    <label class="bg-secondary text-white rounded col-md-12">Dias Pagados </label>
                    <input type="text" name="diaspagados" id="diaspagados" class="form-control col-md-12 input-number text-center" value="15" required>
                  </div>
                  <div class=" col-md-5 text-center p-2">
                    <label class="bg-secondary text-white rounded col-md-12">No. Periodo </label>
                    <input type="text" name="noperiodo" id="noperiodo" class="form-control col-md-12 input-number text-center" value="1" required>
                  </div>
                </div>
                <div class="">
                  <div class="alert small text-justify" role="alert">
                    *Se agregara un periodo por default para poder ingresar al sistema
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 alert alert-light">
                <label class="col-md-12 text-dark">Politicas de Vacaciones</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RadioPoliticasVacaciones" id="politicasdefault" value="1" checked required>
                  <label class="form-check-label" for="inlineRadio1">Defaul</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="RadioPoliticasVacaciones" id="politicaspersonalizar" value="2" required disabled>
                  <label class="form-check-label" for="inlineRadio2">Personalizar </label>
                </div>
                <div class="">
                  <div class="alert small text-justify" role="alert">
                    *Se agregaran las politicas de vacaciones con forme a la ley, pero se podran modificar en el modulo de Catálogos
                  </div>
                </div>
              </div>
            </div>
            <div class="h5 px-5 py-3 text-dark font-labels col-md-12"><span class="fas fa-circle"></span> Direccion de la empresa</div>
            <div class="dropdown-divider mb-3"></div>
            <div class="form-group col-md-2">
              <label for="inCodigo_postal">Codigo Postal</label>
              <input type="text" maxlength="5" size="5" class="form-control input-number font-labels" min="0" name="inCodigo_postal" id="inCodigo_postal" required>

            </div>
            <div class="form-group col-md-2">
              <label for="">Validar CP</label>
              <button class="form-control btn btn-secondary font-button font-labels" type="button" id="btnValidaCpEstado">
                &nbsp;Valida CP
              </button>
            </div>
            <div class="form-group col-md-5">
              <label for="inEstado_empresa">Estado</label>
              <select class="form-control custom-select font-labels" name="inEstado_empresa" id="inEstado_empresa" required>
              </select>

            </div>

            <div class="form-group col-md-3">
              <label for="inDelegacion_empresa">Municipio</label>
              <select class="form-control custom-select font-labels" name="inMunicipio_empresa" id="inMunicipio_empresa" required>
              </select>

            </div>
            <div class="form-group col-md-6">
              <label for="inCiudad_empresa">Cuidad</label>
              <select class="form-control custom-select font-labels" name="inCiudad_empresa" id="inCiudad_empresa" required>
              </select>

            </div>
            <div class="form-group col-md-6">
              <label for="inColonia_empresa">Colonia</label>
              <select class="form-control  custom-select font-labels" name="inColonia_empresa" id="inColonia_empresa" required>
                <option value="">Selecciona</option>
              </select>

            </div>
            <div class="form-group col-md-6">
              <label for="inCalle_Empresa">Delegacion</label>
              <input class="form-control font-labels" type="text" name="inDelegacion_Empresa" id="inDelegacion_Empresa" value="" placeholder="Ingrese la delegación" autocomplete="off" required />

            </div>
            <div class="form-group col-md-6">
              <label for="inCalle_Empresa">Calle</label>
              <input class="form-control font-labels" type="text" name="inCalle_Empresa" id="inCalle_Empresa" placeholder="Ingrese la calle" autocomplete="off" required />

            </div>
            <div class="form-group col-md-12">
              <div class="h5 px-5 pt-3 text-dark font-labels"><span class="fas fa-circle"></span> Asignar Registro Patronal</div>

            </div>
            <div class="col-md-12" id="feedback_rg"></div>
            <div class="form-gruop col-md-6">
              <div class="form-group">
                <label for="inAfiliacionIMSS">Afiliacion IMSS</label>
                <input type="text" class="form-control" id="inAfiliacionIMSS" maxlength="12" placeholder="Ingresa en Numero de afiliación al IMSS" required>

              </div>
            </div>
            <div class="form-gruop col-md-6">
              <div class="form-group">
                <label for="inNombreAfiliacionIMSS">Nombre Afiliacion</label>
                <input type="text" class="form-control" id="inNombreAfiliacionIMSS" placeholder="Ingresa en Nombre de la afiliación al IMSS" required>

              </div>
            </div>
            <div class="form-gruop col-md-6">
              <div class="form-group">
                <label for="inRiesgoTrabajo">Riesgo de trabajo</label>
                <input type="text" class="form-control" id="inRiesgoTrabajo" placeholder="Ingresa el riesgo de trabajo" required>

              </div>
            </div>
            <div class="form-gruop col-md-6">
              <div class="form-group">
                <label for="inClase">Clase </label>
                <select class="form-control custom-select font-labels" id="inClase" required>
                  <option value="">Selecciona</option>
                </select>

              </div>
            </div>
            <div class="form-group col-md-12 row m-0">
              <div class="form-group col-md-4">
                <input class="btn btn-primary form-control font-button" type="submit" name="btn_saveEmpresa" id="btn_saveEmpresa" value="Guardar Empresa" />
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditDatosEmpresa" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-left-primary border-right-primary">
      <div class="modal-header">
        <h5 class="modal-title text-primary font-weight-bold"><i class="fas fa-edit"></i> Actualizar datos de la Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="frmEditarDatosEmpresa" class="needs-validation col-md-12 row font-labels">

          <div class="form-group col-md-4">
            <label>Nombre Empresa</label>
            <input class="form-control form-control-sm" type="text" id="edNombre" required />
          </div>

          <div class="form-group col-md-4">
            <label>Nombre Corto</label>
            <input class="form-control form-control-sm" type="text" id="edNombrecorto" required />
          </div>

          <div class="form-group col-md-4">
            <label>RFC</label>
            <input class="form-control form-control-sm" type="text" id="edRFC" required />
          </div>

          <div class="form-group col-md-4">
            <label>Giro de la Empresa</label>
            <input class="form-control form-control-sm" type="text" id="edGiro" required />
          </div>

          <div class="form-group col-md-4">
            <label>Regimen Fiscal</label>
            <select type="text" class="custom-select custom-select-sm font-labels" name="edRFiscal_empresa" id="edRFiscal_empresa" required>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Registro IMSS</label>
            <input class="form-control form-control-sm" type="text" id="edRegistroimss" required />
          </div>

          <div class="h5 px-5 py-3 text-dark font-labels col-md-12"><span class="fas fa-circle"></span> Direccion de la empresa</div>
          <div class="dropdown-divider mb-3"></div>
          <div class="form-group col-md-2">
            <label for="edCodigo_postal">Codigo Postal</label>
            <input type="text" maxlength="5" size="5" class="form-control input-number font-labels" min="0" name="edCodigo_postal" id="edCodigo_postal" required>
            <div class="invalid-feedback">
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="">Validar CP</label>
            <button class="form-control btn btn-secondary font-button font-labels" type="button" id="btnValidaCpEstadoed">
              &nbsp;Valida CP
            </button>
          </div>
          <div class="form-group col-md-5">
            <label for="edEstado_empresa">Estado</label>
            <select class="form-control custom-select font-labels" name="edEstado_empresa" id="edEstado_empresa" required>
            </select>
            <div class="invalid-feedback">

            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="edDelegacion_empresa">Municipio</label>
            <select class="custom-select custom-select-sm font-labels" name="edMunicipio_empresa" id="edMunicipio_empresa" required>
            </select>
            <div class="valid-feedback">

            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="edCiudad_empresa">Cuidad</label>
            <select class="custom-select custom-select-sm font-labels" name="edCiudad_empresa" id="edCiudad_empresa" required>
            </select>
            <div class="invalid-feedback">

            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="edColonia_empresa">Colonia</label>
            <select class="custom-select custom-select-sm font-labels" name="edColonia_empresa" id="edColonia_empresa" required>
              <option value="">Selecciona</option>
            </select>
            <div class="valid-feedback">

            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="edDelegacion_Empresa">Delegacion</label>
            <input class="form-control form-control-sm font-labels" type="text" name="edDelegacion_Empresa" id="edDelegacion_Empresa" value="" placeholder="Ingrese la delegación" autocomplete="off" required />
            <div class="invalid-feedback">

            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="edCalle_Empresa">Calle</label>
            <input class="form-control form-control-sm font-labels" type="text" name="edCalle_Empresa" id="edCalle_Empresa" placeholder="Ingrese la calle" autocomplete="off" required />
            <div class="invalid-feedback">

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="btn btn-secondary btn-icon-split btn-sm" data-dismiss="modal">
          <span class="icon"><i class="fas fa-times"></i></span>
          <span class="text">Cerrar</span>
        </div>
        <div class="btn btn-primary btn-icon-split btn-sm" id="btnActualizarDatosEmpresa">
          <span class="icon"><i class="fas fa-save"></i></span>
          <span class="text">Guardar cambios</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/Scripts/main/DatosGeneralesEmpresa.js?n=1.7"></script>