<div class="container bg-white">
    <div class="row mt-4 border-left-primary p-3 rounded shadow border-right-primary">

        <div class="col-md-6">
            <div class="text-left">
                <h6 class="col-ico font-nav-child">
                    <b>
                        <i class="fa fa-file-text mr-2"></i> Consulta
                    </b>
                </h6>
            </div>

        </div>
        <div class="col-md-12">
            <hr />
        </div>

        <div class=" col-md-12 border" style="border-radius:15px">
            <div class="col-md-12" style="margin-top:25px">
                <table class="table col-md-12  table-striped table-hover table-sm my-4  " id="tabDef">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre de Definición</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Año</th>
                            <th scope="col">Cancelado</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tabbody">
                    </tbody>
                </table>

            </div>

        </div>
        <div class="form-group row " style="margin-left:75%; margin-top:25px ;margin-bottom:40px">
            <button type="submit" class="btn btn-primary mb-2 " id="btnAgreDef" data-toggle="modal" data-target="#AgreActuDefinicion" title="Agregar Definición"><span class="fa fa-plus-square"></span> Nueva Definiciòn</button>
        </div>

        <div class="col-md-12">
            <center>
                <div class="form-group text-center shadow  border  col-md-12 d-none" style="margin-top:35px;border-radius:15px" id="content-blockDedu/per">
                    <div class="col-md-6" style="margin-top:15px">
                        <div class="text-left">
                            <h6 class="col-ico font-nav-child">
                                <b>
                                    <i class=" mr-ico-05"></i>
                                    Percepciones/Deducciones
                                </b>
                            </h6>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div>
                        <div class="col-md-12 offset-2" style="margin-left:1%">

                            <div>
                                <!--Tabla Definicion-->
                                <div>
                                    <div>
                                        <div class="row">

                                            <!-- tab Percep y deducc -->

                                            <div class="tab-pane fade show active p-3 row table-responsive" id="navPercepciones" role="tabpanel" aria-labelledby="nav-percepciones-tab">
                                                <nav>
                                                    <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link  font-navs  " id="nav-Percepciones-tab" data-toggle="tab" href="#nav-Percepciones" role="tab" aria-controls="nav-Definicion">
                                                            <i class="fas fa-file-signature col-ico mr-ico-05"></i> Percepciones
                                                        </a>
                                                        <a class="nav-item nav-link font-navs  " id="nav-Deducciones-tab" data-toggle="tab" href="#nav-deducciones" role="tab" aria-controls="nav-Deducciones" pagPre="false">
                                                            <i class="fas fa-sticky-note col-ico mr-ico-05 disabled"></i> Deducciones
                                                        </a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content border" id="nav-tabContent">

                                                    <!-- pantalla de la percepciones tab-->

                                                    <div class="tab-pane fade show active p-3 " id="nav-Percepciones" role="tabpanel" aria-labelledby="nav-Definicion-tab">
                                                        <div class="row ">

                                                            <div class="col-md-12 ">
                                                                <div class="text-left">
                                                                    <div class="row" style="margin-top:-5px;">

                                                                        <div class="table-responsive border" style="text-align:center; margin-top:15px;border-radius:15px">
                                                                            <table class="table col-md-12  table-striped table-hover table-sm my-4  " id="TablePerp" style="margin-top:15px;margin-bottom:15px">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">No.</th>
                                                                                        <th scope="col">Empresa</th>
                                                                                        <th scope="col">Renglòn</th>
                                                                                        <th scope="col">Tipo de periodo</th>
                                                                                        <th scope="col">Espejo</th>
                                                                                        <th></th>
                                                                                        <th></th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tabbodyPer">
                                                                                </tbody>
                                                                            </table>

                                                                        </div>



                                                                    </div>
                                                                </div>
                                                                <div class="form-group row  " style="margin-left:75%;margin-top:25px ;margin-bottom:40px">
                                                                    <button type="submit" class="btn btn-primary mb-2 " data-toggle="modal" data-target="#AgregarPercepcion" id="BAgregarPer" title="Agregar Renglon"><span class="fa fa-plus-square"></span>Nuevo renglòn</button>
                                                                </div>
                                                            </div>
                                                            <div class="modal-body col-12" style="margin-top:-10px;">


                                                            </div>
                                                        </div>

                                                    </div>


                                                    <!-- pantalla de la deducciones tab-->

                                                    <div class="tab-pane fade p-3" id="nav-deducciones" role="tabpanel" aria-labelledby="nav-Deducciones-tab">
                                                        <div class="row mt-4">
                                                            <div id="div-most-alert-data-imss" class="col-md-6 offset-3"></div>
                                                            <div class="col-md-12 mb-4">
                                                                <div class="text-left">

                                                                    <div class="table-responsive border" style="text-align:center; margin-top:15px;border-radius:15px">
                                                                        <table class="table col-md-12  table-striped table-hover table-sm my-4  " id="TableDeduc" style="margin-top:15px;margin-bottom:15px">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">No.</th>
                                                                                    <th scope="col">Empresa</th>
                                                                                    <th scope="col">Renglòn</th>
                                                                                    <th scope="col">Tipo de periodo</th>
                                                                                    <th scope="col">Esespejo</th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="tabbodyDedu">
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                    <div class="form-group row  " style="margin-left:75%;margin-top:25px ;margin-bottom:40px">
                                                                        <button type="submit" class="btn btn-primary mb-2 " data-toggle="modal" data-target="#AgregarDeducciones" id="BAgregardedu2" title="Agregar Renglon"><span class="fa fa-plus-square"></span>Nuevo renglòn</button>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Pantalla de agregar Percepciones -->
                            <div class="modal fade" data-backdrop="static" id="AgregarPercepcion" tabindex="-1" role="dialog" aria-labelledby="AgregaPercep" aria-hidden="true" style=" margin-top:-5px">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="AgrgarDefinicionlabel"> <i class="fas fa-file-signature mr-2"></i>Percepciones </h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">

                                                    <!--Columana1 de datos Percepcion -->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <input type="hidden" readonly class="form-control form-control-sm" id="clperc" />
                                                            <label for="RegEmp" class="col-sm-4 col-form-label font-labels">
                                                                Empresa:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Empresa" tp-select="Empresa" class="form-control form-control-sm" id="RegEmpresa">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="Renglon" class="col-sm-4 col-form-label font-labels">
                                                                Renglòn:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Renglón" tp-select="Renglon" class="form-control form-control-sm" id="RegRenglon">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="RegEspejo" class="col-sm-4 col-form-label font-labels">
                                                                Espejo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Espejo" tp-select="Espejo" class="form-control form-control-sm" name="RegEspejo" id="RegEspejo">
                                                                    <option value="0">Selecciona</option>
                                                                    <option value="1">Si</option>
                                                                    <option value="2">No</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Columna 2 de Datos de Percepcion-->

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label for="RegTipoperiodo1" class="col-sm-4 col-form-label font-labels">
                                                                Tipo de periodo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Tipo de periodo" tp-select="Periodo" class="form-control form-control-sm" name="RegTipoperiodo1" id="RegTipoperiodo1" onchange="ShowSelected">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <div id="BtnModalPer">
                                                <div id="BtnModal_Per"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pantalle de Agregar Deducciones-->
                            <div class="modal fade" data-backdrop="static" id="AgregarDeducciones" tabindex="-1" role="dialog" aria-labelledby="AgregaDeducion" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="AgrgarDefinicionlabel"> <i class="fas fa-sticky-note mr-2"></i>Deducciones </h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <!--Columana1 de datos deduccion -->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <input type="hidden" readonly class="form-control form-control-sm" id="clperc" />
                                                            <label for="RegEmpresaDe" class="col-sm-4 col-form-label font-labels">
                                                                Empresa:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Empresa" tp-select="Empresa" class="form-control form-control-sm" id="RegEmpresaDe">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="RegRenglonDE" class="col-sm-4 col-form-label font-labels">
                                                                Renglòn:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Renglón" tp-select="Renglón" class="form-control form-control-sm" id="RegRenglonDe">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="RegEspejoDe" class="col-sm-4 col-form-label font-labels">
                                                                Espejo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Espejo" tp-select="Espejo" class="form-control form-control-sm" name="RegEspejoDe" id="RegEspejoDe">
                                                                    <option value="0">Selecciona</option>
                                                                    <option value="1">Si</option>
                                                                    <option value="2">No</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Columna 2 de Datos de deduccion-->

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label for="RegTipoperiodoDe" class="col-sm-4 col-form-label font-labels">
                                                                Tipo de periodo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Tipo de periodo" tp-select="Periodo" class="form-control form-control-sm" id="RegTipoperiodoDe">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div id="BtnModalDed">
                                                <div id="BtnModal_Ded"></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </center>
        </div>

    </div>

    @*Pantalla de agregar y Actualiza definicion*@
    <div class="modal fade" data-backdrop="static" id="AgreActuDefinicion" tabindex="-1" role="dialog" aria-labelledby="AgreActuDefinicion" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AgrgarDefinicionlabel"> <i class="fas fa-book mr-2"></i>Definiciòn de Plantilla </h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <input type="hidden" value="0" readonly class="form-control form-control-sm" id="clvemp" />
                                    <label for="NombreDe" class="col-sm-4 col-form-label font-labels">
                                        Nombre:
                                    </label>
                                    <div class="col-sm-8">
                                        <input placeholder="Nombre" maxlength="200" tvvisible="false" type="text" id="NombreDe" class="form-control form-control-sm text-capitalize" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-4 col-form-label font-labels">
                                        Descripción:
                                    </label>
                                    <div class="col-sm-8">
                                        <input placeholder="Descripción" maxlength="500" type="text" id="DescripcionDe" class="form-control form-control-sm text-capitalize" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="ano" class="col-sm-4 col-form-label font-labels">
                                        Año:
                                    </label>
                                    <div class="col-sm-8">
                                        <input placeholder="Año" maxlength="4" type="text" id="AnoDe" class="form-control form-control-sm text-capitalize" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="DCancelado" class="col-sm-4 col-form-label font-labels">
                                        Cancelado:
                                    </label>
                                    <div class="col-sm-8">
                                        <select placeholder="Periodo" tp-select="DCancelado" class="form-control form-control-sm" id="DropCancelado">
                                            <option value="0">No</option>
                                            <option value="1">Si</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal-footer" id="Btn_modal">
                    <div id="BtnModal">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/Nomoper/NomOperConsulta.js?n=2"></script>