<div class="col-md-10 mx-auto bg-white border-right-primary border-left-primary row p-3 rounded">
    <div class="modal-header col-md-12 p-0 mb-3">
        <h4 class="col-md-12"> <i class="fas fa-clipboard-check text-danger"></i>&nbsp;&nbsp;Personas que autorizan vacaciones</h4>    
    </div>
    <div class="col-md-8 mx-auto rounded bg-info px-3 pb-3 pt-2 text-white mb-auto">
        <label class="">Buscar por nombre o número de empleado</label>
        <input type="text" name="inputSearchEmpleados" id="inputSearchEmpleados" placeholder="Escriba el nombre del empleado" class=" form-control" autocomplete="off" />
        <div id="resultSearchEmpleados" name="resultSearchEmpleados" class="list-group"></div>
    </div>
    <div id="autorizadores-body" class="col-md-12 mx-auto rounded row pt-3">


        

        <div class="alert alert-dark alert-dismissible fade show mx-auto" role="alert">
            <div class="font-labels font-weight-bold">
                <i class="fas fa-hashtag text-danger"></i> 11690 <br /> 
                <i class="fas fa-user text-primary"></i>  FRANCISCO JAVIER  ARAUJO <br /> 
                <i class="fas fa-briefcase text-secondary"></i> ESPECIALISTA DE CREDITO INDIVIDUAL
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-dark alert-dismissible fade show mx-auto" role="alert">
            <div class="font-labels font-weight-bold">
                <i class="fas fa-hashtag text-danger"></i> 11690 <br /> 
                <i class="fas fa-user text-primary"></i>  FRANCISCO JAVIER  ARAUJO <br /> 
                <i class="fas fa-briefcase text-secondary"></i> ESPECIALISTA DE CREDITO INDIVIDUAL
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-dark alert-dismissible fade show mx-auto" role="alert">
            <div class="font-labels font-weight-bold">
                <i class="fas fa-hashtag text-danger"></i> 11690 <br /> 
                <i class="fas fa-user text-primary"></i>  FRANCISCO JAVIER  ARAUJO <br /> 
                <i class="fas fa-briefcase text-secondary"></i> ESPECIALISTA DE CREDITO INDIVIDUAL
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-dark alert-dismissible fade show mx-auto" role="alert">
            <div class="font-labels font-weight-bold">
                <i class="fas fa-hashtag text-danger"></i> 11690 <br /> 
                <i class="fas fa-user text-primary"></i>  FRANCISCO JAVIER  ARAUJO <br /> 
                <i class="fas fa-briefcase text-secondary"></i> ESPECIALISTA DE CREDITO INDIVIDUAL
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-dark alert-dismissible fade show mx-auto" role="alert">
            <div class="font-labels font-weight-bold">
                <i class="fas fa-hashtag text-danger"></i> 11690 <br /> 
                <i class="fas fa-user text-primary"></i>  FRANCISCO JAVIER  ARAUJO <br /> 
                <i class="fas fa-briefcase text-secondary"></i> ESPECIALISTA DE CREDITO INDIVIDUAL
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="col-md-12 row p-3">
        <div id="btns-container" class="col-md-9 mx-auto row">

            
        </div>
    </div>
</div>
<script src="~/Scripts/main/KioskoAutorizadores.js?n=0.7"></script>