/* Importando fuentes de la applicación */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Sans+KR&display=swap');

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

body {
    /*background-color: aliceblue !important;*/
}

/* Titulos */
.login-title {
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 8px 6px #eee;
}

.title-font {
    font-family: 'Noto Sans JP', sans-serif !important;
}

.font-size-footer {
    font-size:14px !important;
}

/* Colores iconos */
.col-ico {
    color: #020F59 !important;
}

/* Margenes iconos */
.mr-ico-05 {
    margin-right: 0.5em !important;
}

.ml-ico-05 {
    margin-left: 0.5em !important;
}

/* Colores y letra de botones */
.col-btn-login {
    background-color: #7b0000 !important;
    color: white !important;
    padding: 0.5em !important;
    transition: 1s !important;
    box-shadow: 4px 4px #ddd;
}

    .col-btn-login:hover {
        background-color: aliceblue !important;
        color: #7b0000 !important;
        box-shadow: 2px 2px #ddd;
    }

.font-button {
    font-family: 'Noto Sans KR', sans-serif;
}



.color1 {
    color: #e7c53e;
}

.color2 {
    color: #e3dc6f;
}

.color3 {
    color: #122860;
}

.color4 {
    color: #125a78;
}

.color5 {
    color: #17a698;
}